@import "variables";

.modal {
    .modal-dialog {
        &.advisory {
            max-width: 350px;

            .modal-header {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }

            .modal-content {
                border-radius: 3px;

                .modal-body {
                    padding: 1.2rem 1.5rem;
                }
            }
        }

        .modal-header {
            background-color: $second;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .modal-title {
                color: $bg-white;
                font-weight: 400;
                font-size: 1.2rem;
            }

            .close {
                outline: none;
                color: $bg-white;
                text-shadow: none;
            }
        }

        .modal-content {
            border: none;
            box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.12);

            .form-control {
                padding: 0.475rem 0.95rem;
                border: none;
                box-shadow: none;
                background-color: #f2f2f2;
                font-weight: 300;
                font-size: 0.9rem;
            }

            .g-recaptcha>div {
                @media (max-width: 320px) {
                    transform: scale(0.85);
                    margin-left: -23px;
                }
            }
        }
    }

    .btn {
        font-weight: 300;
        outline: none !important;
        box-shadow: none !important;
        border: none;

        &.btn-danger {
            box-shadow: none !important;
        }

        &.btn-main {
            background-color: $primary;
            color: $bg-white;

            &:disabled {
                cursor: initial;

                &:hover {
                    background-color: #a4cd40;
                }
            }

            &:hover {
                background-color: $primary-hover;
            }
        }
    }
}
