@import "variables";


.flex-container > div {
    padding-bottom: 30px;
}

.paginate-ctn {
    $size: 35px;
    display: flex;

    .round-effect {
        color: $primary;
        cursor: pointer;
        font-size: 0.9rem;
        text-align: center;
        line-height: $size;
        border-radius: 50%;
        height: $size;
        width: $size;
        margin: 5px;
        transition: background-color ease-in-out 0.3s 0.02s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
        text-decoration: none;

        &.disabled {
            background-color: $dark-700;
            opacity: 0.5;
            cursor: initial;

            &:hover {
                background: $dark-700;
                color: $primary;
            }
        }

        &.active {
            background: $primary;
            color: #FFF;
        }

        &:hover {
            text-decoration: none;
            background: $primary;
            color: #FFF;

            a {
                text-decoration: none;
                color: #FFF;
            }
        }
    }
}
