$hamburger-layer-width: 30px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-color: #000 !default;
@import "../hamburgers/hamburgers";

.sidebar {
    display: flex;

    .sidebar-wrapper {
        $size: 250px;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: transform 0.3s;
        z-index: 8;
        width: $size;
        max-width: $size;
        height: 100vh;
        background-color: $second-dark;
        padding-top: 76px;
        display: flex;
        flex-flow: column;

        .btn-advisory {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            background-color: transparent;
            border: 1px solid $bg-white;
            color: $bg-white;
            display: block;

            &:hover {
                background-color: $primary;
                border-color: $primary;
            }
        }

    }

    &.show {
        .sidebar-wrapper {
            transform: translateX(0);
        }

        .overlay {
            visibility: visible;
        }
    }

    .overlay {
        position: fixed;
        z-index: 7;
        width: 100%;
        height: 100vh;
        visibility: hidden;
        transition: all 0.3s;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .nav {
        z-index: 99;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;

        .nav-item {
            .nav-link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 15px;
                font-size: 0.9rem;
                color: white;
                text-transform: uppercase;
            }

            .sub-nav {
                margin-left: 20px;
                list-style: none;
                //overflow: hidden;
                display: none;
                //height: 0;
            }

            i {
                transition: transform .2s;
            }

            &.active {
                >.nav-link {
                    >i {
                        transform: rotate(-180deg)
                    }
                }
            }

        }
    }
}
