$primary: #A4CD40;
$primary-hover: #88af29;
$primary-1: #C2DD8E;
$second: #e58e26;
$second-dark: #b38e1f;
$third: #F4D784;

$dark: #263238;
$dark-100: #1e2331;
$dark-500: #57606f;
$dark-700: #7f8c8d;

$bg-main: #f0f8ff;
$bg-dark: #30336b;
$bg-black: #444444;
$bg-white: #ffffff;

$bg-about: rgba(179, 142, 31, 0.85);

.op-8 {
    opacity: .8;
}

.is-small {
    font-size: .8rem;
}

@import "mixins";

.shine {

    &:before {
        position: absolute;
        user-select: none;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: '';
        width: 50%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
    }

    @-webkit-keyframes shine {
        100% {
            left: 125%;
        }
    }

    @keyframes shine {
        100% {
            left: 125%;
        }
    }

}

.shine-hover {
    &:before {
        -webkit-animation: shine .75s;
        animation: shine .75s;
    }
}
