<!DOCTYPE html>
<html lang="en">

<head>
    <title>Client page</title>
    <%- include('./partials/head.ejs')  %> 
    <script src="socket.io/socket.io.js"></script>
    <script>
        const socket = io('http://localhost:3000/');

        socket.on('server-send-ads', function (data) {
            let result ="<a href ='"+data.link+"'><img src ='ads/"+data.image+"' width = '300px'></img> </a>";
            let q = document.getElementById('qc');
            q.innerHTML = result;
        });


        window.addEventListener('DOMContentLoaded', (event) => {


        });
    </script>
</head>

<body>
    <div id="wrapper">
        <div id="qc">

        </div>
        <div id="content">
            <div class="title_news">
                <h1>
                    Rùa chạy đua thắng thỏ gây sốt mạng xã hội </h1>
            </div>
            <h3 class="short_intro txt_666">Con thỏ dừng lại ngó nghiêng và không chạy tiếp, trong khi rùa vẫn tiếp tục
                tiến lên và chiến thắng trong cuộc đua ở Thái Lan.&nbsp;</h3>
            <div class="relative_new">
                <ul class="list_news_dot_3x3_300">
                    <li><a tabindex="1"
                            href="http://vnexpress.net/tin-tuc/the-gioi/cuoc-song-do-day/ong-chu-vua-tam-cho-cho-vua-nhay-mua-gay-sot-mang-xa-hoi-3463813.html?utm_source=detail&amp;utm_medium=box_relatedtop&amp;utm_campaign=boxtracking ">Ông
                            chủ vừa tắm cho chó vừa nhảy múa gây sốt mạng xã hội</a>&nbsp; / &nbsp;<a tabindex="2"
                            href="http://vnexpress.net/tin-tuc/the-gioi/cuoc-song-do-day/con-meo-beo-khong-lat-noi-minh-gay-sot-mang-xa-hoi-3475299.html?utm_source=detail&amp;utm_medium=box_relatedtop&amp;utm_campaign=boxtracking ">Con
                            mèo béo không lật nổi mình gây sốt mạng xã hội</a></li>
                </ul>
            </div>
            <div id="left_calculator">
                <div class="fck_detail width_common block_ads_connect">
                    <div style="text-align:center;">
                        <div style="text-align:center;">
                            <div class="embed-container"><iframe class="parser_player_vnexpress" id="player_178518"
                                    src="http://video.vnexpress.net/parser.html?id=102258&amp;t=2&amp;ft=video&amp;si=1000000&amp;ap=0&amp;ishome=0&amp;player_id=178518"
                                    allowfullscreen="" width="480" height="270" frameborder="0"></iframe></div>
                        </div>
                        <p class="Normal" style="text-align:left;">
                            Cuộc đua giữa thỏ và rùa diễn ra tại một hội chợ thú cưng ở Thái Lan hôm 8/10, thu hút hơn 4
                            triệu lượt xem trên mạng xã hội.</p>
                        <p class="Normal" style="text-align:left;">
                            Xem thêm:&nbsp;<a
                                href="http://vnexpress.net/tin-tuc/the-gioi/cuoc-song-do-day/ho-lao-vao-chan-bao-cuu-chu-3453098.html">Hổ
                                lao vào chặn báo cứu chủ</a></p>
                    </div>

                </div>
            </div>
</body>
<%- include('./partials/footer.ejs')  %>

</html>