&.main-posts {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto auto;

    @include for-mobile {
        grid-template-columns: auto;
    }

    .post-item {
        max-width: 100%;
        padding-bottom: 0;

        .post-wrapper {
            .box-image {
                max-width: 300px;
                max-height: 220px;
                min-height: 220px;

                img {
                    min-height: 220px;
                }

                @include for-desktop {
                    max-width: 100%;
                    max-height: 250px;
                    margin-bottom: 10px;
                }

                @include for-tablet {
                    max-height: 220px;
                }
            }

            @include for-desktop {
                flex-flow: column;
            }

            .post-metas {
                @include for-desktop {
                    padding-left: 0;
                }
            }
        }

        &:nth-child(6) {
            display: none;
            @include for-desktop {
                display: block;
            }
        }


        &:first-child {
            grid-column: 1;
            grid-row: 1/ span 2;

            @include for-desktop {
                grid-row: 1;
            }


            .post-wrapper {
                flex-flow: column;

                .box-image {
                    max-width: 100%;
                    max-height: 290px;
                    margin-bottom: 10px;

                    @include for-desktop {
                        max-height: 250px;
                    }
                }
            }
        }
    }
}
