@import "layouts/variables";
@import "layouts/modal";

.btn-advisory {
    margin-left: 1rem;
    border-radius: 20px;
    color: white;
    background-color: $second;
    padding: 0.375rem 0.7rem;
    outline: none;
    border: none;

    @include for-tablet {
        display: none;
    }

    &:hover {
        //background-color: $third;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn {
    &.btn-primary {
        outline: none;
        border: 1px solid $bg-white;
        box-shadow: none;
        padding: 0.375rem 0.7rem;
        background-color: transparent;
        color: white;
        line-height: 1.5;

        &.more {
            width: 120px;
            height: 40px;
            border-radius: 20px;
            position: relative;

            >span {
                position: absolute;
                width: 100%;
                white-space: nowrap;
                line-height: 1;
                left: 50%;
                top: 50%;
                transition: left 0.3s;
                transform: translate(-50%, -50%);
            }


            >i {
                position: absolute;
                right: 12%;
                top: 50%;
                transform: translateY(-50%);
                visibility: hidden;
                font-size: 0.7rem;
                transition: visibility 0.1s;
            }

            &:hover {

                >span {
                    left: 42%;
                    top: 50%;
                }

                >i {
                    visibility: visible;
                }
            }
        }


        &:focus {
            box-shadow: none;
        }

        &:hover {
            >i {
                visibility: visible;
            }

            color: white;
            background-color: $second;
        }
    }
}

/* section about */

.slider_show {
    .slider_img {
        width: 100%;
    }
}

.section {
    padding: 30px 0;
    position: relative;
    min-height: auto;
    display: flex;
    flex-flow: row;
    align-items: center;

    .section-title {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 25px;
        font-size: 1.65rem;
    }

    &.fixed-view {
        justify-content: center;
        height: calc(100vh - 76px - 307px);

        &._404 {
            @media (max-width: 768px) {
                flex-direction: column;
            }

            .logo-brand {
                width: 350px;
                margin-right: 50px;

                @media (max-width: 768px) {
                    width: 200px;
                    margin-right: 0;
                    margin-bottom: 50px;
                }

                img {
                    width: 100%;
                }
            }

            .message-box {
                color: $second;
                font-weight: 300;

                @media (max-width: 768px) {
                    text-align: center;
                }

                h1 {
                    font-size: 90px;
                    line-height: 46px;
                    margin-bottom: 40px;
                }
            }

            .buttons-con {
                .action-link-wrap {
                    display: flex;
                    margin-top: 30px;

                    @media (max-width: 350px) {
                        flex-direction: column;
                        align-items: center;
                    }

                    a {
                        background: $primary;
                        border: 1px solid $primary;
                        padding: 8px 25px;
                        border-radius: 25px;
                        color: #FFF;
                        font-weight: bold;
                        font-size: 14px;
                        transition: all 0.3s linear;
                        cursor: pointer;
                        text-decoration: none;
                        margin-right: 10px;

                        @media (max-width: 350px) {
                            margin-bottom: 10px;
                        }

                        &:hover {
                            background: $bg-white;
                            color: $primary;
                        }
                    }
                }
            }
        }
    }

}
