@import "layouts/variables";
@import "home/posts";

.category {
    width: 100%;

    .title {
        text-align: center;
        font-size: 1.275rem;
        text-transform: uppercase;
        padding-bottom: 5px;
        border-bottom: 2px solid $primary;
        margin-bottom: 20px;
    }

    .posts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .post-item {
            width: 33.33%;
            flex-basis: 33.33%;

            @include for-small-tablet {
                width: 50%;
                flex-basis: 50%;

                &:nth-child(2n) {
                    .post-wrapper {
                        padding-right: 0;
                    }
                }

                &:nth-child(3n) {
                    .post-wrapper {
                        padding-right: 10px;
                    }
                }
            }

            @include for-small-mobile {
                flex: 100%;

                .post-wrapper {
                    padding-right: 0 !important;
                }
            }


            .post-wrapper {
                flex-direction: column;
                padding-right: 10px;

                .post-metas {
                    padding-left: 0;
                }
            }

            .box-image {
                max-width: 100%;
                min-height: 220px;
                max-height: 220px;
                margin-bottom: 10px;

                img {
                    min-height: 220px;
                }
            }
        }
    }
}
