@import "layouts/variables";


.contact-wrapper {
    width: 100%;
    text-align: center;
    color: $bg-black;

    .table-responsive {
        display: table;
        color: $second-dark;
        font-weight: 500;
    }

    .contact-title {
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: 20px;
        margin: 0;
    }

    .work-time {
        padding: 10px 20px;
        margin: 0 auto;
        background-color: $second-dark;
        border-radius: 10px;
        text-align: left;
        color: $bg-white;
        position: relative;

        * {
            color: $bg-white;
        }

        &:before {
            position: absolute;
            content: '';
            width: 15px;
            height: 15px;
            top: -8px;
            margin-left: 20px;
            transform: rotate(45deg);
            background: $second-dark;
            border: 1px solid $second-dark;
        }
    }
}
