@import "layouts/variables";

.section {
    &.section-promotion {
        display: initial;

        .title {
            padding-top: 30px;
            padding-bottom: 5px;
            margin-bottom: 20px;
            text-align: center;
            text-transform: uppercase;
            border-bottom: 2px solid #A4CD40;
        }

        .promotion-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .box-image__item {
                width: calc(33.33% - 10px);
                flex-basis: calc(33.33% - 10px);
                padding: 10px;
                transition: all 0.3s;
                margin-bottom: 20px;
                border-radius: 5px;
                box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.125);
                margin-right: 15px;

                &:nth-child(3n) {
                    margin-right: 0;
                }

                @include for-tablet {
                    width: calc(50% - 7.5px);
                    flex-basis: calc(50% - 7.5px);

                    &:nth-child(2n) {
                        margin-right: 0 !important;
                    }

                    &:nth-child(3n) {
                        margin-right: 15px;
                    }
                }

                @include for-mobile {
                    width: 100%;
                    flex-basis: 100%;
                    margin-right: 0;

                    &:nth-child(2n) {
                        margin-right: 0 !important;
                    }

                    &:nth-child(3n) {
                        margin-right: 0 !important;
                    }
                }

                &:hover {
                    .box-image__img {
                        @extend .shine-hover;
                    }

                    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
                }

                .box-image__wrapper {
                    .box-image__img {
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        overflow: hidden;
                        margin-top: -10px;
                        margin-right: -10px;
                        margin-left: -10px;
                        position: relative;

                        @extend .shine;

                        img {
                            width: 100%;
                            max-width: 100%;
                            max-height: 200px;
                            object-fit: cover;

                            @include for-mobile {
                                max-height: 250px;
                            }

                        }
                    }

                    a {
                        text-decoration: none;
                    }

                    .box-image__inner {
                        margin-top: 10px;

                        .box-image__title {
                            color: $dark;
                            font-size: 1.125rem;
                            transition: all 0.3s;

                            &:hover {
                                color: $second;
                            }
                        }

                        .box-image__meta {
                            font-size: 0.85rem;
                            font-weight: 300;
                            color: $dark-700;
                        }
                    }
                }
            }
        }
    }
}
