<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Home page</title>
  <link href="css/home.css" rel="stylesheet" type='text/css'>
  <link rel='icon' href='img/icon.png'

</head>

<body id="page-top">

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Welcome To My Site!</div>
        <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
        <a class="btn btn-primary btn-xl text-uppercase text-light" href="/login">LOGIN</a>
      </div>
    </div>
  </header>

</body>

</html>
