.op-8 {
  opacity: .8; }

.is-small {
  font-size: .8rem; }

.shine:before {
  position: absolute;
  user-select: none;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg); }

@-webkit-keyframes shine {
  100% {
    left: 125%; } }

@keyframes shine {
  100% {
    left: 125%; } }

.shine-hover:before {
  -webkit-animation: shine .75s;
  animation: shine .75s; }

.posts h3 {
  text-transform: uppercase;
  border-bottom: 2px solid #A4CD40;
  padding-bottom: 5px;
  margin-bottom: 10px;
  line-height: 1;
  padding-left: 10px;
  display: flex; }
  .posts h3 a {
    text-decoration: none;
    color: #263238;
    font-weight: 500;
    font-size: 1.275rem; }

.posts .post-item {
  padding: 0 0 1rem; }
  .posts .post-item a {
    text-decoration: none; }
  .posts .post-item .post-wrapper {
    display: flex; }
    @media (max-width: 568px) {
      .posts .post-item .post-wrapper {
        flex-flow: column; } }
    .posts .post-item .post-wrapper .box-image {
      max-width: 270px;
      max-height: 150px;
      overflow: hidden;
      flex-shrink: 0; }
      @media (max-width: 568px) {
        .posts .post-item .post-wrapper .box-image {
          max-width: 100%;
          max-height: 270px;
          margin-bottom: 15px; } }
      .posts .post-item .post-wrapper .box-image img {
        max-width: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: center; }
        .posts .post-item .post-wrapper .box-image img:hover {
          opacity: 1;
          -webkit-animation: flash 1.5s;
          animation: flash 1.5s; }

@keyframes flash {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }
    .posts .post-item .post-wrapper .post-metas {
      padding-left: 10px; }
      .posts .post-item .post-wrapper .post-metas .post-title {
        font-size: 1.125rem;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        color: #263238;
        transition: color 0.3s; }
        .posts .post-item .post-wrapper .post-metas .post-title:hover {
          color: #e58e26; }
      .posts .post-item .post-wrapper .post-metas .post-meta {
        font-size: 0.8rem;
        color: #7f8c8d;
        font-weight: 200; }
      .posts .post-item .post-wrapper .post-metas .is-divider {
        display: block;
        background-color: #A4CD40;
        margin-top: .5em;
        margin-bottom: .5em;
        width: 100%;
        height: 2px;
        max-width: 30px; }
      .posts .post-item .post-wrapper .post-metas .post-desc {
        font-size: 0.9rem;
        color: #57606f; }

.category {
  width: 100%; }
  .category .title {
    text-align: center;
    font-size: 1.275rem;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid #A4CD40;
    margin-bottom: 20px; }
  .category .posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .category .posts .post-item {
      width: 33.33%;
      flex-basis: 33.33%; }
      @media screen and (max-width: 768px) {
        .category .posts .post-item {
          width: 50%;
          flex-basis: 50%; }
          .category .posts .post-item:nth-child(2n) .post-wrapper {
            padding-right: 0; }
          .category .posts .post-item:nth-child(3n) .post-wrapper {
            padding-right: 10px; } }
      @media screen and (max-width: 491px) {
        .category .posts .post-item {
          flex: 100%; }
          .category .posts .post-item .post-wrapper {
            padding-right: 0 !important; } }
      .category .posts .post-item .post-wrapper {
        flex-direction: column;
        padding-right: 10px; }
        .category .posts .post-item .post-wrapper .post-metas {
          padding-left: 0; }
      .category .posts .post-item .box-image {
        max-width: 100%;
        min-height: 220px;
        max-height: 220px;
        margin-bottom: 10px; }
        .category .posts .post-item .box-image img {
          min-height: 220px; }

/*# sourceMappingURL=category.css.map */