.op-8 {
  opacity: .8; }

.is-small {
  font-size: .8rem; }

.shine:before, .section.section-promotion .promotion-wrapper .box-image__item .box-image__wrapper .box-image__img:before {
  position: absolute;
  user-select: none;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg); }

@-webkit-keyframes shine {
  100% {
    left: 125%; } }

@keyframes shine {
  100% {
    left: 125%; } }

.shine-hover:before, .section.section-promotion .promotion-wrapper .box-image__item:hover .box-image__img:before {
  -webkit-animation: shine .75s;
  animation: shine .75s; }

.section.section-promotion {
  display: initial; }
  .section.section-promotion .title {
    padding-top: 30px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #A4CD40; }
  .section.section-promotion .promotion-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .section.section-promotion .promotion-wrapper .box-image__item {
      width: calc(33.33% - 10px);
      flex-basis: calc(33.33% - 10px);
      padding: 10px;
      transition: all 0.3s;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.125);
      margin-right: 15px; }
      .section.section-promotion .promotion-wrapper .box-image__item:nth-child(3n) {
        margin-right: 0; }
      @media screen and (max-width: 991px) {
        .section.section-promotion .promotion-wrapper .box-image__item {
          width: calc(50% - 7.5px);
          flex-basis: calc(50% - 7.5px); }
          .section.section-promotion .promotion-wrapper .box-image__item:nth-child(2n) {
            margin-right: 0 !important; }
          .section.section-promotion .promotion-wrapper .box-image__item:nth-child(3n) {
            margin-right: 15px; } }
      @media screen and (max-width: 568px) {
        .section.section-promotion .promotion-wrapper .box-image__item {
          width: 100%;
          flex-basis: 100%;
          margin-right: 0; }
          .section.section-promotion .promotion-wrapper .box-image__item:nth-child(2n) {
            margin-right: 0 !important; }
          .section.section-promotion .promotion-wrapper .box-image__item:nth-child(3n) {
            margin-right: 0 !important; } }
      .section.section-promotion .promotion-wrapper .box-image__item:hover {
        box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2); }
      .section.section-promotion .promotion-wrapper .box-image__item .box-image__wrapper .box-image__img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
        margin-top: -10px;
        margin-right: -10px;
        margin-left: -10px;
        position: relative; }
        .section.section-promotion .promotion-wrapper .box-image__item .box-image__wrapper .box-image__img img {
          width: 100%;
          max-width: 100%;
          max-height: 200px;
          object-fit: cover; }
          @media screen and (max-width: 568px) {
            .section.section-promotion .promotion-wrapper .box-image__item .box-image__wrapper .box-image__img img {
              max-height: 250px; } }
      .section.section-promotion .promotion-wrapper .box-image__item .box-image__wrapper a {
        text-decoration: none; }
      .section.section-promotion .promotion-wrapper .box-image__item .box-image__wrapper .box-image__inner {
        margin-top: 10px; }
        .section.section-promotion .promotion-wrapper .box-image__item .box-image__wrapper .box-image__inner .box-image__title {
          color: #263238;
          font-size: 1.125rem;
          transition: all 0.3s; }
          .section.section-promotion .promotion-wrapper .box-image__item .box-image__wrapper .box-image__inner .box-image__title:hover {
            color: #e58e26; }
        .section.section-promotion .promotion-wrapper .box-image__item .box-image__wrapper .box-image__inner .box-image__meta {
          font-size: 0.85rem;
          font-weight: 300;
          color: #7f8c8d; }

/*# sourceMappingURL=promotions.css.map */